In [1]:
import pandas as pd
import numpy as np
import nltk
import re

In [2]:
mensajesTwitter_sin_preparar = pd.read_csv("datas/calentamientoClimatico_sin_preparar.csv", delimiter=";")
mensajesTwitter_sin_preparar

,Column1,Column2,Column3
0,tweet,existence,existence.confidence
1,Global warming report urges governments to act...,Yes,1
2,Fighting poverty and global warming in Africa ...,Yes,1
3,Carbon offsets: How a Vatican forest failed to...,Yes,0.8786
4,Carbon offsets: How a Vatican forest failed to...,Yes,1
...,...,...,...
6086,"@bloodless_coup ""The phrase 'global warming' s...",Yes,1
6087,Virginia to Investigate Global Warming Scienti...,NaN,1
6088,Global warming you tube parody you will enjoy ...,No,0.6411
6089,One-Eyed Golfer: Don't dare tell me about glob...,No,1
6090,man made global warming a hair brained theory ...,No,1

First, we chage the name of the columns and then, we delete the first row:

In [3]:
mensajesTwitter_sin_preparar=mensajesTwitter_sin_preparar.rename(columns={'Column1': 'Tweet', 'Column2':'Existence', 'Column3':'Confiance'})
mensajesTwitter_sin_preparar

,Tweet,Existence,Confiance
0,tweet,existence,existence.confidence
1,Global warming report urges governments to act...,Yes,1
2,Fighting poverty and global warming in Africa ...,Yes,1
3,Carbon offsets: How a Vatican forest failed to...,Yes,0.8786
4,Carbon offsets: How a Vatican forest failed to...,Yes,1
...,...,...,...
6086,"@bloodless_coup ""The phrase 'global warming' s...",Yes,1
6087,Virginia to Investigate Global Warming Scienti...,NaN,1
6088,Global warming you tube parody you will enjoy ...,No,0.6411
6089,One-Eyed Golfer: Don't dare tell me about glob...,No,1
6090,man made global warming a hair brained theory ...,No,1

In [4]:
mensajesTwitter_sin_preparar=mensajesTwitter_sin_preparar.drop(0)

Now, we need to ger rid of all the missing values:

In [5]:
mensajesTwitter_sin_preparar=mensajesTwitter_sin_preparar.dropna()
mensajesTwitter_sin_preparar

                                                  Tweet Existence Confiance
1     Global warming report urges governments to act...       Yes         1
2     Fighting poverty and global warming in Africa ...       Yes         1
3     Carbon offsets: How a Vatican forest failed to...       Yes    0.8786
4     Carbon offsets: How a Vatican forest failed to...       Yes         1
5     URUGUAY: Tools Needed for Those Most Vulnerabl...       Yes    0.8087
...                                                 ...       ...       ...
6085  It's 83�_� and climbing in NYC. August weather...       Yes         1
6086  @bloodless_coup "The phrase 'global warming' s...       Yes         1
6088  Global warming you tube parody you will enjoy ...        No    0.6411
6089  One-Eyed Golfer: Don't dare tell me about glob...        No         1
6090  man made global warming a hair brained theory ...        No         1

[4225 rows x 3 columns]

Once we have cleaned up the database, we can now start with the process of reading