In [6]:
import pandas as pd
import numpy as np
import nltk
import re
from nltk.corpus import stopwords
from nltk.stem.snowball import SnowballStemmer
from nltk.stem import WordNetLemmatizer

In [2]:
mensajesTwitter_sin_preparar = pd.read_csv("datas/calentamientoClimatico_sin_preparar.csv", delimiter=";")
mensajesTwitter_sin_preparar

,Column1,Column2,Column3
0,tweet,existence,existence.confidence
1,Global warming report urges governments to act...,Yes,1
2,Fighting poverty and global warming in Africa ...,Yes,1
3,Carbon offsets: How a Vatican forest failed to...,Yes,0.8786
4,Carbon offsets: How a Vatican forest failed to...,Yes,1
...,...,...,...
6086,"@bloodless_coup ""The phrase 'global warming' s...",Yes,1
6087,Virginia to Investigate Global Warming Scienti...,NaN,1
6088,Global warming you tube parody you will enjoy ...,No,0.6411
6089,One-Eyed Golfer: Don't dare tell me about glob...,No,1
6090,man made global warming a hair brained theory ...,No,1

First, we chage the name of the columns and then, we delete the first row:

In [3]:
mensajesTwitter_sin_preparar=mensajesTwitter_sin_preparar.rename(columns={'Column1': 'Tweet', 'Column2':'Existence', 'Column3':'Confiance'})
mensajesTwitter_sin_preparar

,Tweet,Existence,Confiance
0,tweet,existence,existence.confidence
1,Global warming report urges governments to act...,Yes,1
2,Fighting poverty and global warming in Africa ...,Yes,1
3,Carbon offsets: How a Vatican forest failed to...,Yes,0.8786
4,Carbon offsets: How a Vatican forest failed to...,Yes,1
...,...,...,...
6086,"@bloodless_coup ""The phrase 'global warming' s...",Yes,1
6087,Virginia to Investigate Global Warming Scienti...,NaN,1
6088,Global warming you tube parody you will enjoy ...,No,0.6411
6089,One-Eyed Golfer: Don't dare tell me about glob...,No,1
6090,man made global warming a hair brained theory ...,No,1

In [4]:
mensajesTwitter_sin_preparar=mensajesTwitter_sin_preparar.drop(0)

Now, we need to ger rid of all the missing values:

In [5]:
mensajesTwitter_sin_preparar=mensajesTwitter_sin_preparar.dropna()
mensajesTwitter_sin_preparar

                                                  Tweet Existence Confiance
1     Global warming report urges governments to act...       Yes         1
2     Fighting poverty and global warming in Africa ...       Yes         1
3     Carbon offsets: How a Vatican forest failed to...       Yes    0.8786
4     Carbon offsets: How a Vatican forest failed to...       Yes         1
5     URUGUAY: Tools Needed for Those Most Vulnerabl...       Yes    0.8087
...                                                 ...       ...       ...
6085  It's 83�_� and climbing in NYC. August weather...       Yes         1
6086  @bloodless_coup "The phrase 'global warming' s...       Yes         1
6088  Global warming you tube parody you will enjoy ...        No    0.6411
6089  One-Eyed Golfer: Don't dare tell me about glob...        No         1
6090  man made global warming a hair brained theory ...        No         1

[4225 rows x 3 columns]

Once we have cleaned up the database, we can now start with the process of reading

In [7]:
#we download from the libraries the needed files to read and interpret the phraes:

nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to /Users/mariaperez-
[nltk_data]     serrabona/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /Users/mariaperez-
[nltk_data]     serrabona/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

change the Existence column by putting numerical values instead of categorical values

In [8]:
mensajesTwitter_sin_preparar['Existence'] = (mensajesTwitter_sin_preparar['Existence']=='Yes').astype(int)
print(mensajesTwitter_sin_preparar.head(100))

                                                 Tweet  Existence Confiance
1    Global warming report urges governments to act...          1         1
2    Fighting poverty and global warming in Africa ...          1         1
3    Carbon offsets: How a Vatican forest failed to...          1    0.8786
4    Carbon offsets: How a Vatican forest failed to...          1         1
5    URUGUAY: Tools Needed for Those Most Vulnerabl...          1    0.8087
..                                                 ...        ...       ...
135  Report: Save the Whales and They'll Save Us fr...          1     0.823
137  Arctic Beauty in Black and White: Alaska Befor...          1         1
138  #EPA report documents "very real" impacts from...          1         1
139  #Canadian #CEOs more keen on #green than globa...          1    0.7896
140  RT @carbonmarket: Ask the G8 & G20 to support ...          1     0.617

[100 rows x 3 columns]

Now, we can create a function called normalization which will normalize the phrases.
This means, the function will enable the research of specific characters, so we can then treat them a specific process.

The re function, will change those pecial characters to normal characters. For instance, a link character will be change to a single word 'URL'
It will also change accents and capital letters.

In [9]:
def normalization(mensage):
    mensage = re.sub('((www\.[^\s]+)|(https?://[^\s]+))','URL', mensage)
    mensage = re.sub('@[^\s]+','USER', mensage)
    mensage = mensage.lower().replace("ё", "е")
    mensage = re.sub('[^a-zA-Zа-яА-Я1-9]+', ' ', mensage)
    mensage = re.sub(' +',' ', mensage)
    return mensage.strip()

In [10]:
#we now apply the function above:

mensajesTwitter_sin_preparar["Tweet"] = mensajesTwitter_sin_preparar["Tweet"].apply(normalization)
print(mensajesTwitter_sin_preparar.head(10))

                                                Tweet  Existence Confiance
1   global warming report urges governments to act...          1         1
2   fighting poverty and global warming in africa ...          1         1
3   carbon offsets how a vatican forest failed to ...          1    0.8786
4   carbon offsets how a vatican forest failed to ...          1         1
5   uruguay tools needed for those most vulnerable...          1    0.8087
6   rt user rt user ocean saltiness shows global w...          1         1
7   global warming evidence all around us a messag...          1         1
8   migratory birds new climate change strategy st...          1         1
9   southern africa competing for limpopo water cl...          1         1
10  global warming to impact wheat rice production...          1         1

Now, we start treating the stop words we have in Englsish

In [11]:
stopWords = stopwords.words('english')

In [12]:
#Now that we know which the stop words are, we can delet them:

mensajesTwitter_sin_preparar['Tweet'] = mensajesTwitter_sin_preparar['Tweet'].apply(lambda mensage: ' '.join([word for word in mensage.split() if word not in (stopWords)]))
print(mensajesTwitter_sin_preparar.head(10))

                                                Tweet  Existence Confiance
1   global warming report urges governments act br...          1         1
2         fighting poverty global warming africa link          1         1
3   carbon offsets vatican forest failed reduce gl...          1    0.8786
4   carbon offsets vatican forest failed reduce gl...          1         1
5   uruguay tools needed vulnerable climate change...          1    0.8087
6   rt user rt user ocean saltiness shows global w...          1         1
7   global warming evidence around us message glob...          1         1
8   migratory birds new climate change strategy st...          1         1
9   southern africa competing limpopo water climat...          1         1
10  global warming impact wheat rice production in...          1         1